torch
torchvision
ultralytics
opencv-python
pandas
numpy
tqdm
matplotlib
seaborn
scikit-learn
streamlit
timm
Pillow
PyYAML
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128

